<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Aromas - Cadastrar</title>
<link rel="stylesheet" href="../public/stylesheets/cadastrar.css">
<link rel="stylesheet" href="../public/stylesheets/style.css">

</head>
<body>
    <div class="register-container">
        <h1>Cadastro</h1>
        <form id="registerForm">
            <input type="text" id="nome" placeholder="Nome Completo" required>
            <input type="email" id="email" placeholder="E-mail" required>
            <input type="text"  id="usuario" placeholder="Usuário" required>
            <input type="password"  id="senha" placeholder="Senha" required>
            <input type="password"  id="confirmarSenha" placeholder="Confirme a Senha" required>
            <button type="submit" id="submitSignUp">Cadastrar</button>
            <p class="login-link">
                Já tem uma conta? <a href="carrinho.html">Realize sua compra</a>
            </p>
            <div id="signUpMessage" class="messageDiv" style="display: none;"></div>
        </form>
    </div>

    <script src="/models/firebase_fe.js" type="module"></script>
</body>
</html>
