<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aromas - Cardápio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
</head>

<body>

    <header>
        <nav id="navbar">
            <div class="nav-logo">
                <i id="nav_logo" class="fa-solid fa-plate-wheat"></i>
                <p class="nav-text">Aromas</p>
            </div>
            <ul id="nav-list">
                <li class="nav-item active"><a href="#home">Início</a></li>
                <li class="nav-item"><a href="#promo">Promoções</a></li>
                <li class="nav-item"><a href="#avaliacoes">Avaliações</a></li>
            </ul>
            <button class="btn-default">Peça Aqui</button>
            <button id="mobile_btn"><i class="fa-solid fa-bars"></i></button>
        </nav>

        <div id="mobile_menu">
            <ul id="mobile_nav-list">
                <li class="nav-item"><a href="#home">Início</a></li>
                <li class="nav-item"><a href="#promo">Promoções</a></li>
                <li class="nav-item"><a href="#avaliacoes">Avaliações</a></li>
            </ul>
            <button class="btn-default">Peça Aqui</button>
        </div>
    </header>

    <main id="content">
        <section id="home">
            <div class="details">
                <div class="shape"></div>
                <div id="cta">
                    <div id="title">
                        <h1 class="title">Os melhores aromas e sabores vão até <span>você.</span></h1>
                    </div>
                    <p class="description">Sabores que conquistam. Experiências que encantam.</p>
                    <div id="cta_buttons">
                        <a href="#" class="btn-default">Ver cardápio</a>
                        <a href="tel:+551199999999" id="phone_button">
                            <button class="btn-default">
                                <i class="fa-solid fa-phone"></i>
                            </button>
                            (75)991220830
                        </a>
                    </div>
                    <div class="social-media-buttons">
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </div>
                </div>
            </div>
            <div id="banner">
                <img src="../public/images/pratPRINCIPAL.png" alt="Banner" width="500px">
            </div>
        </section>

        <section id="menu" data-aos="fade-up">
            <h2 class="section-title" data-aos="fade-up">Cardápio</h2>
            <h3 class="section-subtitle" data-aos="fade-up">Nossos pratos especiais</h3>
            <div id="dishes" class="slick-carousel" data-aos="fade-up">
                <div class="dish">
                    <div class="dish-heart"><i class="fa-solid fa-heart"></i></div>
                    <div class="imagem">
                        <img class="dish-image" src="../public/images/dish3.png" alt="">
                    </div>
                    <h3 class="dish-title">Mingau Fit Power</h3>
                    <span class="dish-description">Aveia cozida com leite de amêndoas, adoçado com melado de cana,
                        servido com morangos frescos.</span>
                    <div class="dish-rate">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <span>(500+)</span>
                    </div>
                    <div class="dish-price">
                        <h4>R$24,90</h4>
                        <button class="btn-default cart"><i class="fa-solid fa-basket-shopping"></i></button>
                    </div>
                </div>
                <div class="dish">
                    <div class="dish-heart"><i class="fa-solid fa-heart"></i></div>
                    <div class="imagem">
                        <img class="dish-image" src="../public/images/comida0.4.png" height="230px" alt="">
                    </div>
                    <h3 class="dish-title">Estrela do Campo</h3>
                    <span class="dish-description">Filé de carne grelhada suculenta, acompanhado de batatas rústicas
                        temperadas com ervas finas.</span>
                    <div class="dish-rate">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <span>(500+)</span>
                    </div>
                    <div class="dish-price">
                        <h4>R$18,50</h4>
                        <button class="btn-default cart"><i class="fa-solid fa-basket-shopping"></i></button>
                    </div>
                </div>
                <div class="dish">
                    <div class="dish-heart"><i class="fa-solid fa-heart"></i></div>
                    <div class="imagem">
                        <img class="dish-image" src="../public/images/comida0.2.png" height="230px" alt="">
                    </div>
                    <h3 class="dish-title">Tostada Tropical</h3>
                    <span class="dish-description">Uma combinação refrescante de abacate fatiado, ovo cozido e pão
                        rústico com azeite e limão.</span>
                    <div class="dish-rate">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <span>(500+)</span>
                    </div>
                    <div class="dish-price">
                        <h4>R$32,00</h4>
                        <button class="btn-default cart"><i class="fa-solid fa-basket-shopping"></i></button>
                    </div>
                </div>
                <div class="dish">
                    <div class="dish-heart"><i class="fa-solid fa-heart"></i></div>
                    <div class="imagem">
                        <img class="dish-image" src="../public/images/dish4.png" alt="">
                    </div>
                    <h3 class="dish-title">Fettuccine ao Pomodoro</h3>
                    <span class="dish-description">Massa fresca ao molho de tomates italianos, manjericão fresco e
                        azeite extra virgem.</span>
                    <div class="dish-rate">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <span>(500+)</span>
                    </div>
                    <div class="dish-price">
                        <h4>R$27,90</h4>
                        <button class="btn-default cart"><i class="fa-solid fa-basket-shopping"></i></button>
                    </div>
                </div>
                <div class="dish">
                    <div class="dish-heart"><i class="fa-solid fa-heart"></i></div>
                    <div class="imagem">
                        <img class="dish-image" src="../public/images/dish2.png" alt="">
                    </div>
                    <h3 class="dish-title">Sanduíche de Frango</h3>
                    <span class="dish-description">Pão artesanal dourado, recheado com filé de frango empanado, queijo
                        derretido.</span>
                    <div class="dish-rate">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <span>(500+)</span>
                    </div>
                    <div class="dish-price">
                        <h4>R$15,00</h4>
                        <button class="btn-default cart"><i class="fa-solid fa-basket-shopping"></i></button>
                    </div>
                </div>
                <div class="dish">
                    <div class="dish-heart"><i class="fa-solid fa-heart"></i></div>
                    <div class="imagem">
                        <img class="dish-image" src="../public/images/comida0.1.png" height="230px" alt="">
                    </div>
                    <h3 class="dish-title">Penne ao Pesto Cremoso</h3>
                    <span class="dish-description">Penne al dente com molho de pesto de manjericão, nozes trituradas,
                        creme de leite e um toque de azeite.</span>
                    <div class="dish-rate">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <span>(500+)</span>
                    </div>
                    <div class="dish-price">
                        <h4>R$45,70</h4>
                        <button class="btn-default cart"><i class="fa-solid fa-basket-shopping"></i></button>
                    </div>
                </div>
                <div class="dish">
                    <div class="dish-heart"><i class="fa-solid fa-heart"></i></div>
                    <div class="imagem">
                        <img class="dish-image" src="../public/images/comida0.3.png" height="230px" alt="">
                    </div>
                    <h3 class="dish-title">Refeição do Chef</h3>
                    <span class="dish-description">Arroz cremoso com carne marinada em ervas e batatas douradas com
                        manteiga e alho.</span>
                    <div class="dish-rate">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <span>(500+)</span>
                    </div>
                    <div class="dish-price">
                        <h4>R$35,00</h4>
                        <button class="btn-default cart"><i class="fa-solid fa-basket-shopping"></i></button>
                    </div>
                </div>

            </div>
        </section>
        <section class="menu" data-aos="fade-up">
            <h2>Todos os nossos pratos</h2>
            <p>
                Este cardápio inclui todos os pratos dos restaurantes, nem todos estão inclusos na modalidade rodízio.
            </p>
            <div class="menu-filtros">
                <a href="#todos"><button class="filtro">Todos</button></a>
                <a href="#principais"><button class="filtro">Pratos Principais</button></a>
                <a href="#entradas"><button class="filtro">Entradas</button></a>
                <a href="#sobremesa"><button class="filtro">Sobremesas</button></a>
                <a href="#bebidas"><button class="filtro">Bebidas</button></a>
            </div>
            <div class="menu-grid" id="todos">
                <div class="card" id="principais">
                    <img src="../public/images/comida0.1.png" alt="Penne ao Pesto Cremoso">
                    <h3>Penne ao Pesto Cremoso</h3>
                    <p>Penne, manjericão, nozes trituradas, creme de leite, azeite.</p>
                    <button class="pedir-agora">Pedir agora</button>
                </div>

                <div class="card" id="principais">
                    <img src="../public/images/comida0.2.png" alt="Nigiri">
                    <h3>Tostada Tropical</h3>
                    <p>abacate, ovo cozido, pão rústico com azeite e limão.</p>
                    <button class="pedir-agora">Pedir agora</button>
                </div>
                <div class="card" id="principais">
                    <img src="../public/images/comida0.3.png" alt="Nigiri">
                    <h3>Refeição do Chef</h3>
                    <p>Arroz, carne marinada, ervas e batatas</p>
                    <button class="pedir-agora">Pedir agora</button>
                </div>
                <div class="card" id="principais">
                    <img src="../public/images/comida0.4.png" alt="Nigiri">
                    <h3>Estrela do Campo</h3>
                    <p>Filé de carne, batatas rústicas, ervas.</p>
                    <button class="pedir-agora">Pedir agora</button>
                </div>
                <div class="card" id="entradas">
                    <img src="../public/images/comida0.5.png" alt="Temaki">
                    <h3>Banana Caramelizada à Canela</h3>
                    <p>Fatias de banana douradas com açúcar mascavo e um toque de canela.</p>
                    <button class="pedir-agora">Pedir agora</button>
                </div>
                <div class="card" id="entradas">
                    <img src="../public/images/comida0.6.png" alt="Temaki">
                    <h3>Tostadinha de Frango e Cebola</h3>
                    <p>Camadas de frango desfiado temperado, com cebolas caramelizadas.</p>
                    <button class="pedir-agora">Pedir agora</button>
                </div>
                <div class="card" id="entradas">
                    <img src="../public/images/comida0.7.png" alt="Temaki">
                    <h3>Batatas Dueto Temperado de Molhos</h3>
                    <p>Cubos de batata assados, servidos com um delicioso molho cremoso.</p>
                    <button class="pedir-agora">Pedir agora</button>
                </div>
                <div class="card" id="entradas">
                    <img src="../public/images/comida0.8.png" alt="Temaki">
                    <h3>Creme de Verduras e Camarão</h3>
                    <p>Creme aveludado de verduras frescas com pedaços suculentos de camarão</p>
                    <button class="pedir-agora">Pedir agora</button>
                </div>
                <div class="card" id="sobremesa">
                    <img src="../public/images/comida13.png" alt="Temaki">
                    <h3>Tentação de Chocolate Creme e Morango</h3>
                    <p>Uma explosão de chocolate em diferentes texturas, com camadas de mousse.</p>
                    <button class="pedir-agora">Pedir agora</button>
                </div>
                <div class="card" id="sobremesa">
                    <img src="../public/images/comida14.png" alt="Temaki">
                    <h3> Sonho Floresta Negra Ascendente</h3>
                    <p>Clássico bolo de chocolate com recheio de chantilly e cerejas ao licor e chocolate amargo.</p>
                    <button class="pedir-agora">Pedir agora</button>
                </div>
                <div class="card" id="sobremesa">
                    <img src="../public/images/comida15.png" alt="Temaki">
                    <h3>Tortilha Doce de Morango</h3>
                    <p>Tortilhas crocantes recheadas com morangos caramelizados e creme suave, finalizadas com uma calda doce.</p>
                    <button class="pedir-agora">Pedir agora</button>
                </div>
                <div class="card" id="sobremesa">
                    <img src="../public/images/comida16.png" alt="Temaki">
                    <h3>Doce Tropical Banoffee</h3>
                    <p>Uma base de banana caramelizada coberta com creme suave, ovos levemente adoçados</p>
                    <button class="pedir-agora">Pedir agora</button>
                </div>
                <div class="card" id="bebidas">
                    <img src="../public/images/comida0.9.png" alt="Temaki">
                    <h3>Refresco do Sol</h3>
                    <p>Uma combinação vibrante de suco de laranja fresco e melancia gelada, trazendo o sabor doce e cítrico do verão.</p>
                    <button class="pedir-agora">Pedir agora</button>
                </div>
                <div class="card" id="bebidas">
                    <img src="../public/images/comida10.png" alt="Temaki">
                    <h3>Limão Supreme</h3>
                    <p>Suco de limão com toque equilibrado entre o azedinho e o doce, com folhas de hortelã para um frescor extra.</p>
                    <button class="pedir-agora">Pedir agora</button>
                </div>
                <div class="card" id="bebidas">
                    <img src="../public/images/comida11.png" alt="Temaki">
                    <h3>Explosão Morango Picante</h3>
                    <p>Um mix ousado de morango fresco e pimenta suave, criando um contraste de sabores doce e levemente ardente.</p>
                    <button class="pedir-agora">Pedir agora</button>
                </div>
                <div class="card" id="bebidas">
                    <img src="../public/images/comida12.png" alt="Temaki">
                    <h3>Paraíso Tropical</h3>
                    <p>Um blend exótico de abacaxi, maracujá, manga e coco, com um toque refrescante de hortelã.</p>
                    <button class="pedir-agora">Pedir agora</button>
                </div>
            </div>
        </section>
        <section class="menu-section" data-aos="fade-up">
            <div>
                <h1 class="titulo" data-aos="fade-up">Nossos Horários</h1>
                <div class="menu-container">
                    <div class="menu-item" data-aos="fade-up">
                        <img src="../public/images/almo.png" alt="Ícone Almoço">
                        <h3>Almoço</h3>
                        <p>11:30 às 15 horas</p>
                    </div>
                    <div class="divisor"></div>
                    <div class="menu-item" data-aos="fade-up">
                        <img src="../public/images/jan.png" alt="Ícone Jantar">
                        <h3>Jantar</h3>
                        <p>18:00 às 23 horas</p>
                    </div>
                    <div class="divisor"></div>
                    <div class="menu-item" data-aos="fade-up">
                        <img src="../public/images/sobrem.png" alt="Ícone Sobremesas">
                        <h3>Sobremesas</h3>
                        <p>Grátis</p>
                    </div>
                </div>
            </div>
        </section>


    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://kit.fontawesome.com/6f52904997.js" crossorigin="anonymous"></script>
    <script src="../public/javascripts/script.js"></script>
</body>

</html>